
<div class="form-container mat-elevation-z5">
<form #myForm="ngForm" novalidate>
  <h1>Please input your email</h1>
  <div class="form-group">
    <mat-form-field>
      <input matInput class="form-control" placeholder="Email" name="Password" type="Email" [(ngModel)]="email" />
    </mat-form-field>
  </div>
  <div class="center margin-top">
    <button mat-raised-button color="primary" (click)="forgotPassword()">Send Link</button>
  </div>
  <span class="center margin-top"><a class="sign-up-link" routerLink="/login">Back to login</a></span>
</form>
</div>