<form #myForm="ngForm" novalidate>
  <div class="form-group">
    <mat-form-field>
      <input matInput class="form-control" placeholder="Name" name="name" type="text" [(ngModel)]="user.name" />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput class="form-control" placeholder="Last Name" name="lastname" type="text"
        [(ngModel)]="user.lastName" />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput class="form-control" placeholder="Email" name="Password" type="Email" [(ngModel)]="user.email" />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput class="form-control" placeholder="Password" name="Password" type="password"
        [(ngModel)]="user.password" />
    </mat-form-field>
  </div>
  <div class="center margin-top">
    <button mat-raised-button color="primary" (click)="submit()">Sign Up!</button>
  </div>
</form>