<form #myForm="ngForm" novalidate>
  <div class="form-group">
    <mat-form-field>
      <input matInput class="form-control" placeholder="Email" name="email" type="email" [(ngModel)]="user.email" />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput class="form-control" placeholder="Password" name="Password" type="password"
        [(ngModel)]="user.password" />
    </mat-form-field>
  </div>
  <span class="right "><a class="forgot-password-link" routerLink="/forgot-password">Forgot password?</a></span>
  <div class="center margin-top">
    <button mat-raised-button color="primary" (click)="submitData()">Login</button>
  </div>
</form>